@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  color: white;
  border: 2px solid #22254b;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;

  font-family: inherit;
  font-size: 1.2rem;
  
}

.search:focus {
  outline: none;
}

.movie {
  background-color: #373b69;
  width: 250px;
  margin: 1rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
  object-fit: fill;
  width: 100%;
  height: 400px;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}